
@{
    ViewBag.Title = "Compress";
    List<Optimized_JSON_Compression.CompressedResult> compressedResults = ViewBag.CompressedResults;
    List<Optimized_JSON_Compression.DecompressedResult> deCompressedResults = ViewBag.deCompressedResults;
    string originalString = ViewBag.OriginalString;
}

<h2>Compress</h2>

<p>
    @ViewBag.OriginalString 
    
    <br /><br />
    (@Optimized_JSON_Compression.Converter.StringToBytes(ViewBag.OriginalString).Length bytes)
</p>

<table class="table">
    <thead>
        <tr>
            <th>Compression method</th>
            <th>Bytes length</th>
            <th>Compressed output</th>
            <th>matches original </th>
            <th>less than original</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < compressedResults.Count(); i++)
        {
            var compressedResult = compressedResults[i];
            var deCompressedResult = deCompressedResults[i];

            <tr>
                <td>
                    @compressedResult.method.ToString()
                </td>
                <td>
                    @compressedResult.bytes.Length
                </td>
                <td></td>
                <td>
                    @(deCompressedResult.decompressedString == ViewBag.OriginalString)
                </td>
                <td>
                    @(compressedResult.bytes.Length < Optimized_JSON_Compression.Converter.StringToBytes(originalString).Length)
                </td>
            </tr>
        }
    </tbody>
</table>

@*@using (Html.BeginForm("Decompress", "Home", FormMethod.Post))
{

    @Html.TextArea("str2", (string)ViewBag.CompressedString);
    <button type="submit" >decompress</button>
}*@
